<div class="early-exit-modal">
  <div class="modal-header">
    <ion-icon name="time-outline" class="header-icon"></ion-icon>
    <h2>{{ 'ALERTS.EARLY_EXIT.TITLE' | translate }}</h2>
    <p>{{ 'ALERTS.EARLY_EXIT.MINUTES_REMAINING' | translate:{ minutes: minutesRemaining } }}</p>
  </div>

  <div class="modal-content">
    <p class="info-text">
      {{ 'ALERTS.EARLY_EXIT.INFO' | translate }}
    </p>

    <div class="action-buttons">
      <button class="action-btn rejoin-btn primary" (click)="rejoinCall()">
        <div class="btn-icon-wrapper">
          <ion-icon name="videocam-outline"></ion-icon>
        </div>
        <div class="btn-content">
          <h3>{{ 'ALERTS.EARLY_EXIT.REJOIN_TITLE' | translate }}</h3>
          <p>{{ 'ALERTS.EARLY_EXIT.REJOIN_SUB' | translate }}</p>
        </div>
        <ion-icon name="chevron-forward-outline" class="chevron"></ion-icon>
      </button>
    </div>

    <p class="note-text">
      <ion-icon name="information-circle-outline"></ion-icon>
      {{ 'ALERTS.EARLY_EXIT.ANALYSIS_NOTE' | translate }}
    </p>
  </div>

  <div class="modal-footer">
    <ion-button fill="clear" (click)="dismiss()">
      <ion-icon name="close-outline" slot="start"></ion-icon>
      {{ 'ALERTS.EARLY_EXIT.DONE_FOR_NOW' | translate }}
    </ion-button>
  </div>
</div>
